!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Precios de tus mejores guitarras!!
    %meta{:charset => "utf-8"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Montserrat:400,700|Allerta", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "assets/css/invie.css", :rel => "stylesheet"}/
    %meta{:content => "width=device-width, initial-scale=1, user-scalable=no", :name => "viewport"}/
  %body.precios
    %header#header.header.background
      / header
      .contenedor
        %figure.logotipo
          / logotipo
          %img{:alt => "Invie logotipo", :height => "60", :src => "assets/img/invie.png", :width => "186"}/
        %span#burguer-button.burguer-button.icon-menu
        %nav#menu.menu
          / menu
          %ul
            %li
              %a{:href => "index.html"} Home
            %li
              %a{:href => "index.html#guitarras"} Guitarras
            %li
              %a{:href => "precios.html"} Precios
    %section.tabla
      .contenedor
        %table
          %thead
            %tr
              %th Modelo
              %th Precio
              %th Descripción
              %th Modelo
              %th Precio
              %th Descripción
          %tbody
            %tr
              %td Invie classic
              %td $100000
              %td Una guitarra muy pro
              %td Invie classic
              %td $100000
              %td Una guitarra muy pro
            %tr
              %td Invie classic
              %td $100000
              %td Una guitarra muy pro
              %td Invie classic
              %td $100000
              %td Una guitarra muy pro
            %tr
              %td Invie classic
              %td $100000
              %td Una guitarra muy pro
              %td Invie classic
              %td $100000
              %td Una guitarra muy pro
    %footer.footer
      .contenedor
        .contacto
          %img{:alt => "logotipo blanco", :src => "assets/img/invie-white.png"}/
          %a{:href => "tel:+573024456678"}
            %strong Telefono
            %span 3024456678
          %a{:href => "mailto:contacto@invie.com"}
            %strong E-mail
            %span contacto@invie.com
        %form.formulario
          .col1
            %label{:for => "nombre"} Nombre
            %input#nombre{:name => "nombre", :required => "", :type => "text"}/
            %label{:for => "email"} E-mail
            %input#email{:name => "email", :required => "", :type => "email"}/
            .sexo
              %label{:for => "mujer"}
                %input#mujer{:checked => "checked", :name => "sexo", :type => "radio", :value => "mujer"}/
                mujer
              %label{:for => "hombre"}
                %input#hombre{:name => "sexo", :type => "radio", :value => "hombre"}/
                hombre
            .intereses
              %label{:for => "cotizacion"}
                %input#cotizacion{:checked => "checked", :name => "intereses", :type => "checkbox", :value => "cotizacion"}/
                Cotización
              %label{:for => "reclamos"}
                %input#reclamos{:name => "intereses", :type => "checkbox", :value => "reclamos"}/
                Reclamos
              %label{:for => "comentarios"}
                %input#comentarios{:name => "intereses", :type => "checkbox", :value => "comantarios"}/
                Comentarios
              %label{:for => "otros"}
                %input#otros{:name => "intereses", :type => "checkbox", :value => "otros"}/
                Otros
          .col2
            %label{:for => "comentarios"} Comentarios
            %textarea#comentarios{:cols => "30", :name => "comantarios", :rows => "7"}
            %input.button{:type => "submit", :value => "Enviar"}/
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/blazy/1.5.4/blazy.min.js"}
    :javascript
      var consulta = window.matchMedia('(max-width: 500px)');
      consulta.addListener(mediaQuery);

      var $burguerButton = document.getElementById('burguer-button');
      var $menu = document.getElementById('menu');
      function toggleMenu(){
        $menu.classList.toggle('active')
      };

      function mediaQuery() {
        if (consulta.matches) {
          // si se cumple hagamos esto
          console.log('se cumplió la condicion');
          $burguerButton.addEventListener('touchstart', toggleMenu);
        } else {
          $burguerButton.removeEventListener('touchstart', toggleMenu);
          // si no se cumple hagamos esto
          console.log('no se cumplió la condicion');
        }
      }
      mediaQuery();

      // lazy loading
      var bLazy = new Blazy({
          selector: 'img'
      });
      // $burguerButton.addEventListener('touchstart', toggleMenu);

      // function toggleMenu(){
      //   $menu.classList.toggle('active')
      // };
